<!DOCTYPE html>
<html lang="ja">

<head>
    <title><%= dynamic_page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">
    <meta charset="UTF-8">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= dynamic_page_title %>">
    <meta property="og:description" content="<%= meta_description %>">
    <% if og_image_url %>
      <meta property="og:image" content="<%= og_image_url %>">
    <% end %>
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="<%= dynamic_page_title %>">
    <meta property="twitter:description" content="<%= meta_description %>">
    <% if og_image_url %>
      <meta property="twitter:image" content="<%= og_image_url %>">
    <% end %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body class="bg-slate-800 min-h-screen text-slate-100">
    <%= render 'shared/navbar' if user_signed_in? %>
    
    <% if notice %>
        <div class="bg-emerald-500/10 border border-emerald-500/20 text-emerald-300 px-4 py-3 rounded relative mx-4 mt-4" role="alert">
            <span class="block sm:inline"><%= notice %></span>
        </div>
    <% end %>

    <% if alert %>
        <div class="bg-red-500/10 border border-red-500/20 text-red-300 px-4 py-3 rounded relative mx-4 mt-4" role="alert">
            <span class="block sm:inline"><%= alert %></span>
        </div>
    <% end %>

    <main class="<%= user_signed_in? ? 'pt-0' : '' %>">
        <%= yield %>
    </main>
</body>

</html>